title = "Detalhe Portfolio"
url = "/portfolio/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Bruno\Projetos\Models\Projetos"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "titulo"
notFoundMessage = "Record not found"

[builderList projetos_list]
modelClass = "Bruno\Projetos\Models\Projetos"
scope = "-"
displayColumn = "titulo"
noRecordsMessage = "No records found"
detailsPage = "detalhe-portfolio"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% set records = projetos_list.records %}
{% set displayColumnProjetos = projetos_list.displayColumn %}
{% set noRecordsMessage = projetos_list.noRecordsMessage %}
{% set detailsPage = projetos_list.detailsPage %}
{% set detailsKeyColumn = projetos_list.detailsKeyColumn %}
{% set detailsUrlParameter = projetos_list.detailsUrlParameter %}

<section id="about-us" style="padding-top: 30px;padding-bottom: 0;">

    <div class="container">

		    <div class="get-started center wow fadeInDown" style="padding-top: 0px;">
		    		    
                <h2>
                    {{ record.titulo }}<br/>
                    <small><strong>Cliente:</strong> {{ record.cliente }}</small>
                    </h2>
                <p class="lead">{{ record.descricao }}</p>
                <div class="request">
                    <h4><a href="javascript:void(null)">Imagens do projeto</a></h4>
                </div>
            </div>
            
	</div>
	
	<div class="container">
	    {% if record %}
      
            <!-- about us slider -->
			<div id="about-slider">
				<div id="carousel-slider" class="carousel slide" data-ride="carousel">
					
					<!-- Indicators -->
				  	<ol class="carousel-indicators visible-xs">
				  	    {% for imagem in record.galeria %}
				  	        {% if loop.index0 == 0 %}{% set active='active' %}{% else %}{% set active='' %}{%endif%}
					        <li data-target="#carousel-slider" data-slide-to="{{ loop.index0 }}" class="{{ active }}"></li>
					    {% endfor %}
				  	</ol>
				  	<!-- Indicators -->

					<div class="carousel-inner">
					 {% for imagem in record.galeria %}
					 {% if loop.index0 == 0 %}{% set active='active' %}{% else %}{% set active='' %}{%endif%}
						<div class="item {{ active }}">
							<img src="{{ imagem.thumb(1200,480,{'mode':'crop'}) }}" class="img-responsive" alt=""> 
					   </div>
					 {% endfor %}
					</div>
					
					<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
						<i class="fa fa-angle-left"></i> 
					</a>
					
					<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
						<i class="fa fa-angle-right"></i> 
					</a>
				</div> <!--/#carousel-slider-->
			</div><!--/#about-slider-->
            
            
        {% else %}
            {{ notFoundMessage }}
        {% endif %}
	</div>

</section><!--/about-us-->

 <section id="portfolio" style="padding-bottom: 0;">
        <div class="container-fluid">

            <div class="center">
               <h2>Portfolio</h2>
               <p class="lead">Conheça abaixo alguns dos nossos principais projetos realizados</p>
            </div>
        
            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">TODOS</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".projetos">PROJETOS</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".obras_comeciais">OBRAS COMERCIAIS</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".obras_industriais">OBRAS INDUSTRIAS</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".obras_residenciais">OBRAS RESIDENCIAIS</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">

                <div class="portfolio-items">

                {% for projeto in records %}

                    <div class="portfolio-item {{ projeto.categoria }} col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="{{ projeto.foto1.thumb(327,248,{'mode':'crop'}) }}" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">

                                    <h3><a href="#">{{ projeto.titulo }}</a> </h3>
                                    
                                    <p>{{ projeto.descricao }}</p>
                                    
                                    <a class="preview" href="{{ projeto.foto1.path }}" rel="prettyPhoto" title="{{ projeto.titulo }}">
                                    <i class="fa fa-eye"></i> Ampliar</a><br/>
                                    
                                    {% if detailsPage %}
                                        <a class="preview" href="{{ detailsPage|page({ (detailsUrlParameter): attribute(projeto, detailsKeyColumn) }) }}" 
                                        >
                                        <i class="fa fa-eye"></i> Detalhes</a>
                                    {% endif %}
            
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                {% endfor %} 

                </div>
                
            </div>
        </div>
</section><!--/#portfolio-item-->