title = "Home"
url = "/"
layout = "default"
description = "Página incial"
meta_title = "Página incial"
meta_description = "Página incial"
is_hidden = 0
==
<section id="main-slider" class="no-margin">
	{% partial "carousel" %}
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section>

<section id="intro">
    {% partial "home/intro" %}
</section>

<section id="mapa_projetos">
    {% partial "home/mapa_projetos" %}
</section>

<section id="partner">
	{% partial "home/sustentabilidade" %}
</section><!--/#partner-->

<section id="bottom">
	{% partial "home/google_maps" %}
</section><!--/#bottom-->