title = "Trabalhe Conosco"
url = "/trabalhe-conosco"
layout = "default"
description = "Vagas de Emprego"
meta_title = "Vagas de Emprego"
meta_description = "Vagas de Emprego"
is_hidden = 0

[builderList vagas_list]
modelClass = "Bruno\Vagas\Models\Vagas"
scope = "-"
displayColumn = "cliente"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[trabalheconosco]
==
{% set records = vagas_list.records %}
{% set displayColumn = vagas_list.displayColumn %}
{% set noRecordsMessage = vagas_list.noRecordsMessage %}
{% set detailsPage = vagas_list.detailsPage %}
{% set detailsKeyColumn = vagas_list.detailsKeyColumn %}
{% set detailsUrlParameter = vagas_list.detailsUrlParameter %}

<section id="about-us" class="pagina_trabalhe_conosco" style="padding-bottom:0;padding-top:220px;">

    <div class="container-fluid" style="background-color:#f2f2f2;padding-top:40px;">

		<div class="center wow fadeInDown">
			<h2><img src="{{ 'assets/images/leaf.png'|theme }}" alt=""> Trabalhe Conosco</h2>
			<p>Conhecimento Técnico, Qualidade, Agilidade e confiabilidade dos serviços prestados.</p>		
		</div>

		<div class="row wow fadeInDown" style="padding: 40px;">
			
			<div class="col-md-10  col-md-offset-2 formulario">
			
				<div class="col-md-6" style="padding-right: 80px;">
                    {% component 'trabalheconosco' %}
				</div>

				<div class="col-md-6">

					<h2 style="color: #28a0ae;">VAGAS DISPONÍVEIS</h2>

					<ul class="record-list" style="padding: 0;padding-left: 20px;">
					    {% for record in records %}
					        {% spaceless %}
					            <li> 
					               {{ record.titulo }} 
					               <a href="javascript:alert('Quantidade: {{ record.quantidade }} \nDescrição: {{ record.descricao }}')">Detalhe</a>
					            </li>
					        {% endspaceless %}
					    {% endfor %}
					</ul>
				</div>

			</div>

		</div>

	</div>

</section>