        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url({{ 'assets/images/slider/banner2.jpg'|theme }})">
                    <div class="container">
                        <div class="row slide-margin">

                            <div class="col-sm-8 col-sm-offset-2" style="text-align: center;">
                                <div class="carousel-content">
                                    <h2 class="animation animated-item-1 title-italic-banner">
                                    Temos as Melhores
                                    </h2>
                                    <h1 class="animation animated-item-2 title-strong-banner">
                                    Soluções para sua obra
                                    </h1>
                                    <a class="btn-slide animation animated-item-3" href="/portfolio">Saiba Mais</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->


                <div class="item" style="background-image: url({{ 'assets/images/slider/banner3.jpg'|theme }})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Especialidade em obras comerciais</h1>
                                    <h2 class="animation animated-item-2">Conheça mais sobre nosso portolio</h2>
                                    <a class="btn-slide animation animated-item-3" href="/portfolio">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({{ 'assets/images/slider/banner_home.jpg'|theme }})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Experiência no mercado há vários anos</h1>
                                    <h2 class="animation animated-item-2">Qualidade garantida dos nosos trabalhos e  excelência por meio da união de competências</h2>
                                    <a class="btn-slide animation animated-item-3" href="/empresa">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
