==
{# Note: Only one levels of sublinks are supported by Bootstrap 3 #}
{% set
    links = {
	    '': ['home', 'HOME'],
		'empresa':   ['samples/empresa', 'EMPRESA'],
		'portfolio': ['samples/portfolio', 'PORTFOLIO'],
		'clientes':  ['samples/clientes', 'CLIENTES'],
        'trabalhe-conosco':   ['trabalhe_conosco', 'TRABALHE CONOSCO'],
        'contato':   ['samples/contato', 'CONTATO'],
    }
%}

{% macro render_menu(links) %}

{% set base='http://temp.poss.com.br' %}

<li class="{% if page.id|page == base ~ '' %}active{% endif %}"><a href="/">HOME</a></li>
<li class="{% if page.id|page == base ~ '/empresa' %}active{% endif %}"><a href="/empresa">EMPRESA</a></li>
<li class="{% if page.id|page == base ~ '/portfolio' %}active{% endif %}"><a href="/portfolio">PORTFOLIO</a></li>
<li class="{% if page.id|page == base ~ '/clientes' %}active{% endif %}"><a href="/clientes">CLIENTES</a></li>
<li class="{% if page.id|page == base ~ '/trabalhe-conosco' %}active{% endif %}"><a href="/trabalhe-conosco">TRABALHE CONOSCO</a></li>
<li class="{% if page.id|page == base ~ '/contato' %}active{% endif %}"><a href="/contato">CONTATO</a></li>
<li><a href="javascript:void(null)" style="background-color: #007AA2 !important;color:#fff;">(62) 3223-0375</a></li>

{% endmacro %}

{% import _self as nav %}


<nav class="navbar navbar-inverse" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ 'home'|page }}"><img src="{{ 'assets/images/logo2.png'|theme }}" alt="logo"></a>
		</div>
		<div class="collapse navbar-collapse navbar-right">
			
			<ul class="nav navbar-nav">
				{{ nav.render_menu(links) }}
			</ul>
		</div>
	</div>
</nav><!--/nav-->