        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone" style="background: #28a0ae;"></i>
                        </div>
                        <div class="media-body">
                            <h2>Em que podemos ser lhe ajudar?</h2>
                            <p>Temos uma equipe pronta para lhe atender e disponível no telefone +55 62 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->    
