title = "Clientes"
url = "/clientes"
layout = "default"
is_hidden = 0

[builderList clientes_list]
modelClass = "Bruno\Clientes\Models\Clientes"
scope = "-"
displayColumn = "cliente"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = clientes_list.records %}
{% set displayColumn = clientes_list.displayColumn %}
{% set noRecordsMessage = clientes_list.noRecordsMessage %}
{% set detailsPage = clientes_list.detailsPage %}
{% set detailsKeyColumn = clientes_list.detailsKeyColumn %}
{% set detailsUrlParameter = clientes_list.detailsUrlParameter %}

<section id="about-us" class="pagina_clientes">

    <div class="container">
			
		<div class="center wow fadeInDown">
			<h2><img src="{{ 'assets/images/leaf.png'|theme }}" alt=""> Nossos Clientes</h2>			
		</div>	

		<div class="row wow fadeInDown" style="padding: 40px;">
			
	    {% for record in records %}
            {% spaceless %}            
               <div class="col-md-2 item-logo-cliente">
               <span class="helper"></span> <img src="{{ record.logo.path }}"/>
               </div>                
            {% endspaceless %}
        {% endfor %}

		</div>

	</div><!--/.container-->

</section><!--/about-us-->