title = "Empresa"
url = "/empresa"
layout = "default"
is_hidden = 0
==
<section id="about-us" class="pagina_empresa">

        <div class="container">
			
			<div class="center wow fadeInDown">
				<h2><img src="{{ 'assets/images/leaf.png'|theme }}" alt=""> Empresa</h2>
				<p class="lead">
				Somos uma empresa dedicada a projetos e obras com soluções sustentáveis,<br/> que abrange todo Brasil, buscando sempre excelencia em nosso trabalho.
				</p>
			</div>	
		</div>

			<div class="wow fadeInDown" style="padding: 40px;background: #f2f2f2;font-size: 1.1em; line-height: 2em;">

				<div class="row">
					<div class="col-md-12">
						<h2 class="title-blue">Nossa Missão</h2>
						<p>
							Estar entre as empresas líderes no mercado em Engenharia e Construção Cívil do país, baseada em qualidade, cumprimento de prazos e sustentabilidade.
						</p>
					</div>
					<div class="col-md-12">
						<h2 class="title-blue">Nossa Visão</h2>
						<p>
 Ser reconhecida como empresa grande, sólida e ágil, atuando em toda a cadeia de fornecimento de serviços, suprindo as demandas do mercado, de forma eficaz e eficiente, comprometida com a
 qualidade e a inovação.
						</p>
					</div>
					<div class="col-md-12">
						<h2 class="title-blue">Nossos valores</h2>
						<p>
							<ul>
								<li>
									Ética e Honestidade;
								</li>
								<li>
									Sustentabilidade – identificar as melhores soluções sustentáveis para projetos e serviços na contrução civil;
								</li>
								<li>Compromisso com o cliente;</li>
								<li>Flexibilidade – identificar as necessidades do cliente, utilizando nossas expertises sempre da forma mais adequada e efetiva;</li>
								<li>Qualidade dos trabalhos – a excelência por meio da união de competências;</li>
								<li>Disposição para os Desafios e Proatividade.</li>
							</ul>
						</p>
					</div>
				</div>

			</div>

			<div class="center wow fadeInDown" style="padding-top: 60px;">
				<h2><img src="{{ 'assets/images/leaf.png'|theme }}" alt=""> Nossa Equipe</h2>
				<p class="lead">
					Com uma equipe de bastante conhecimento técnico buscamos qualidade, Agilidade e confiabilidade dos serviços prestados.
				</p>
			</div>	

			<div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="{{ 'assets/images/client1.png'|theme }}" class="img-circle" alt="">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                        <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="{{ 'assets/images/client2.png'|theme }}" class="img-circle" alt="">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                        <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="{{ 'assets/images/client3.png'|theme }}" class="img-circle" alt="">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                        <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                    </div>
                </div>
           </div>

		</div><!--/.container-->
    </section><!--/about-us-->