title = "Portfolio"
url = "/portfolio"
layout = "default"
is_hidden = 0

[builderList projetos_list]
modelClass = "Bruno\Projetos\Models\Projetos"
scope = "-"
displayColumn = "titulo"
noRecordsMessage = "No records found"
detailsPage = "detalhe-portfolio"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<section id="portfolio" style="padding-bottom: 0;" class="page_portfolio">
        <div class="container-fluid">

            <div class="center" style="padding-bottom: 0;">
               <h2><img src="{{ 'assets/images/leaf.png'|theme }}" alt=""> Portfolio</h2>
               <p class="lead">Conheça abaixo alguns dos nossos principais projetos realizados</p>
            </div>
        
            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">TODOS</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".instaladora">INSTALADORA</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".projetos">PROJETOS</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".obras_comeciais">OBRAS COMERCIAIS</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".obras_industriais">OBRAS INDUSTRIAS</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".consultoria">CONSULTORIA</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".obras_residenciais">OBRAS RESIDENCIAIS</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">

                <div class="portfolio-items">

                {% for projeto in records %}

                    <div class="portfolio-item {{ projeto.categoria }} col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="{{ projeto.foto1.thumb(327,248,{'mode':'crop'}) }}" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">

                                    <h3><a href="#">{{ projeto.titulo }}</a> </h3>
                                    
                                    <p>{{ projeto.descricao }}</p>
                                    
                                    <a class="preview" href="{{ projeto.foto1.path }}" rel="prettyPhoto" title="{{ projeto.titulo }}">
                                    <i class="fa fa-eye"></i> Ampliar</a><br/>
                                    
                                    {% if detailsPage %}
                                        <a class="preview" href="{{ detailsPage|page({ (detailsUrlParameter): attribute(projeto, detailsKeyColumn) }) }}" 
                                        >
                                        <i class="fa fa-eye"></i> Detalhes</a>
                                    {% endif %}
            
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                {% endfor %} 

                </div>
                
            </div>
        </div>
</section><!--/#portfolio-item-->