<section id="about-us" class="page_contato">

    <div class="container">

        <div class="center wow fadeInDown">
            <h2><img src="{{ 'assets/images/leaf.png'|theme }}" alt=""> Entre em contato conosco</h2>
        </div>

        <div class="row wow fadeInDown" style="padding: 40px;">
            
            <div class="col-md-10  col-md-offset-2 formulario">
            
                <div class="col-md-6" style="padding-right: 80px;">

                    <h2>Preencha o formulário abaixo</h2>
                    {% for error in errors.all %}
                        
                        {{ error }}

                    {% endfor %}
                    <hr/>

                    <form data-request="onSend">

                        <div class="row" style="padding-top: 10px;">
                            <div class="col-md-12">
                                <label>NOME COMPLETO</label>
                                <input type="text" class="form-control" name="nome">
                                <span style="color: #ff0000;">{{ errors.first('nome') }}</span>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 10px;">
                            <div class="col-md-6">
                                <label>E-MAIL</label>
                                <input type="text" class="form-control" name="email">
                                <span style="color: #ff0000;">{{ errors.first('email') }}</span>
                            </div>
                            <div class="col-md-6">
                                <label>TELEFONE</label>
                                <input type="text" class="form-control" name="telefone">
                            </div>
                        </div>

                        <div class="row" style="padding-top: 10px;">
                            <div class="col-md-12">
                                <label>ASSUNTO</label>
                                <input type="text" class="form-control" name="assunto">
                                <span style="color: #ff0000;">{{ errors.first('assunto') }}</span>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 10px;">
                            <div class="col-md-12">
                                <label>MENSAGEM</label>
                                <textarea class="form-control" style="min-height: 100px;" name="mensagem"></textarea>
                                <span style="color: #ff0000;">{{ errors.first('mensagem') }}</span>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 10px;">
                            <div class="col-md-12">
                                <button class="btn btn-default btn-block" type="submit">ENVIAR</button>
                            </div>
                        </div>

                    </form>


                </div>

                <div class="col-md-6">

                    <h2 style="color: #28a0ae;">POSS ENGENHARIA</h2>
                    <p style="font-style: italic;color: #bbb;padding-left: 20px;">Uma grande satifação pode atendar</p>
                   
                    <p style="padding-top: 20px;padding-left: 20px;">

                        <i class="fa fa-location-arrow" aria-hidden="true" style="color:#28a0ae;"></i>
                        Av. Pires Fernandes, Nº. 39,<br/>Sala 01, St. Aeroporto,<br/>Goiânia - GO - CEP: 74.070-030<br/>
                        [ <a target="_blank" class="linkhoverwhite" href="https://goo.gl/maps/sFpMGtY4xdG2">Como Chegar</a> ]<br/><br/>

                        <i class="fa fa-phone" aria-hidden="true" style="color:#28a0ae;"></i>
                         +55 (62) 3223-0375<br/><br/>
                        
                        <i class="fa fa-envelope" aria-hidden="true" style="color:#28a0ae;"></i>
                        contato@poss.com.br

                    </p>

                </div>

            </div>

        </div>

    </div>

</section>