	<h2>Preencha o formulário abaixo</h2>
	<hr/>
	<form data-request="onSend">

	<div class="row" style="padding-top: 10px;">
		<div class="col-md-12">
			<label>NOME COMPLETO</label>
			<input type="text" class="form-control" name="nome">
		</div>
	</div>

	<div class="row" style="padding-top: 10px;">
		<div class="col-md-6">
			<label>E-MAIL</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="col-md-6">
			<label>TELEFONE</label>
			<input type="text" class="form-control" name="telefone">
		</div>
	</div>

	<div class="row" style="padding-top: 10px;">
		<div class="col-md-12">
			<label>VAGA DESEJADA</label>
			<input type="text" class="form-control" name="vaga">
		</div>
	</div>

	<div class="row" style="padding-top: 10px;">
		<div class="col-md-12">
			<label>MENSAGEM</label>
			<textarea class="form-control" style="min-height: 100px;" name="mensagem"></textarea>
		</div>
	</div>

	<div class="row" style="padding-top: 10px;">
		<div class="col-md-12">
			<label>Anexo:</label><input type="file" name="curriculo">
		</div>
	</div>

	<div class="row" style="padding-top: 10px;">
		<div class="col-md-12">
			<button class="btn btn-default btn-block" type="submit">ENVIAR</button>
		</div>
	</div>

	</form>