==
<section id="contact-info">
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <div class="gmap">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7650.043530030036!2d-49.27185487909778!3d-16.671189014547846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef3e6c657417f%3A0x14eab61b5296e44!2sR.+17-A%2C+896+-+St.+Aeroporto%2C+Goi%C3%A2nia+-+GO%2C+74070-100!5e0!3m2!1spt-BR!2sbr!4v1500297351365" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-sm-7 map-content" style="padding-top:50px;">
                        <ul class="row">
                            <li class="col-sm-6">
                                <address>
                                    <h4>POSS ENGENHARIA</h4>
                                    <p><i class="fa fa-location-arrow" aria-hidden="true" style="color:#28a0ae;"></i></i> Av. Pires Fernandes, Nº. 39,<br/>Sala 01, St. Aeroporto,<br/>Goiânia - GO - CEP: 74.070-030<br/>
                                    <a target="_blank" class="linkhoverwhite" href="https://goo.gl/maps/sFpMGtY4xdG2">Como Chegar</a>
                                    </p>
                                    <p><i class="fa fa-phone" aria-hidden="true" style="color:#28a0ae;"></i> +55 (62) 3223-0375<br><br>
                                    <i class="fa fa-envelope" aria-hidden="true" style="color:#28a0ae;"></i> Email: contato@poss.com.br</p>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->

<!-- <div class="container-fluid wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
    <div class="row">
        <div id="map_google" style="height: 400px;"></div>
    </div>
</div> -->
    <script>

      // var marker,map,possLatLng;
      // var iconMarker = '{{ "assets/images/marker3.png"|theme }}';

      // function initMap() {

      //   possLatLng = {lat: -16.671223, lng: -49.267340};

      //   // Create a map object and specify the DOM element for display.
      //   map = new google.maps.Map(document.getElementById('map_google'), {
      //     center: possLatLng,
      //     scrollwheel: false,
      //     zoom: 15
      //   });

      //   marker = new google.maps.Marker({
      //     position: possLatLng,
      //     map: map,
      //     title: 'Poss Engenharia',
      //     icon: iconMarker
      //   });

      //   toggleBounce();
      //   marker.addListener('click', toggleBounce);

      // }

      // function toggleBounce() {
      //   if (marker.getAnimation() !== null) {
      //     marker.setAnimation(null);
      //   } else {
      //     marker.setAnimation(google.maps.Animation.BOUNCE);
      //   }
      // }

    </script>