 <div class="container">
          
           <div class="center wow fadeInDown" style="padding-bottom:0;">
                <h2><img src="{{ 'assets/images/leaf.png'|theme }}" alt=""> Nossos Serviços</h2>
            </div>

            <div class="row">
                <div class="features list-servicos-home">

                    <div class="col-md-2 col-sm-6 wow fadeInDown list-servicos-home-item" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <a href="/instaladora"><div><img src="{{ 'assets/css/custom-icon/engineering.png'|theme }}"/></div>
                        <div>
                            <h4>INSTALADORA</h4>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-md-2 col-sm-6 wow fadeInDown list-servicos-home-item" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <a href="/portfolio"><div><i class="ti-Line-Crop"></i></div>
                        <div>
                            <h4>PROJETOS</h4>
                        </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-6 wow fadeInDown list-servicos-home-item" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <a href="/portfolio"><div><i class="ti-Line-Store"></i></div>
                        <div>
                            <h4>OBRAS COMERCIAIS</h4>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 wow fadeInDown list-servicos-home-item" data-wow-duration="1000ms" data-wow-delay="600ms">
                       <a href="/portfolio"> <div><img src="{{ 'assets/css/custom-icon/003-pollution_.png'|theme }}"/></div>
                        <div>
                            <h4>OBRAS INDUSTRIAIS</h4>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-md-2 col-sm-6 wow fadeInDown list-servicos-home-item" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <a href="/portfolio"><div><img src="{{ 'assets/css/custom-icon/001-teamwork.png'|theme }}"/></div>
                        <div>
                            <h4>CONSULTORIA</h4>
                        </div>
                        </a>
                    </div>

                    <div class="col-md-2 col-sm-6 wow fadeInDown list-servicos-home-item" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <a href="/portfolio"><div><i class="ti-Line-Home"></i></div>
                        <div>
                            <h4>OBRAS RESIDENCIAIS</h4>
                        </div>
                        </a>
                    </div>

                </div><!--/.services-->
            </div><!--/.row-->    
</div><!--/.container-->
