        <div class="container">
            <div class="center wow fadeInDown">
                <h2>GESTÃO SUSTENTÁVEL</h2>
                <p class="lead" style="text-align: left;line-height: 30px;">
                    Hoje a sustentabilidade é simplesmente um negócio inteligente mas um dos principais fatores da saúde financeira. É por isso que cada vez mais organizações estão à procura de empresas de mentalidade sustentável que tenham apliquem habilidades de gestão necessárias para competir em um mundo de recursos limitados e o aumento das expectativas dos consumidores.
                </p>
            </div>    

            <div class="partners">
            </div>        
        </div><!--/.container-->
