description = "Default Layout"
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ this.page.meta_description }}">
	<meta name="keywords" content="{{ this.page.meta_keywords }}">
    <meta name="author" content="{{ this.page.meta_author }}">

    <!-- Scripts -->
	<script type="text/javascript" src="{{ 'assets/js/html5shiv.js'|theme }}"></script>
	<script type="text/javascript" src="{{ 'assets/js/respond.min.js'|theme }}"></script>
	<script type="text/javascript" src="{{ 'assets/js/jquery.js'|theme }}"></script>
	<script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
	<script type="text/javascript" src="{{ 'assets/js/jquery.prettyPhoto.js'|theme }}"></script>
	<script type="text/javascript" src="{{ 'assets/js/jquery.isotope.min.js'|theme }}"></script>
	<script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>
	<script type="text/javascript" src="{{ 'assets/js/wow.min.js'|theme }}"></script>

    <title>{{ this.page.title }} | {{ this.theme.site_name }}</title>

	<!-- core CSS -->
	{% styles %}
	<link href="{{ ['assets/css/bootstrap.min.css',
		'assets/css/font-awesome.min.css',
		'assets/css/animate.min.css',
		'assets/css/prettyPhoto.css',
		'assets/css/main.css',
		'assets/css/responsive.css',
		'assets/icons/style.css',
		'assets/css/custom-icon/flaticon.css'
		]|theme }}" rel="stylesheet">

	<link rel="icon" type="image/png" href="{{ 'assets/images/ico/favicon.png'|theme }}" />

</head><!--/head-->

<body class="homepage">

<header id="header">
        {% partial "nav" %}
</header><!--/header-->

    {% page %}

<footer id="footer" class="midnight-blue">
	{% partial "footer" %}
</footer><!--/#footer-->

{% framework extras %}
{% scripts %}             
         
</body>
</html>